@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes danmaku {
    0% {
      left: 100%;
      transform: translateX(0);
    }
    100% {
      left: 0;
      transform: translateX(-100%);
    }
  }

  .animate-danmaku {
    animation: danmaku 6s linear forwards;
  }
}
